body {
  height: 100vh;
}
.outer {
  background-color: #C0C0C0;
  padding: 50px;
  border: 1px solid #000;
}
.navigation {
  background-color: blue;
  border: 1px solid #000;
  padding: 25px;
}
.navi_section {
  background-color: #333;
  border: 1px solid #000;
  color: white;
  padding: 25px;
  text-align: center;
}
/* Jumbotron class is a build into Bootstrap */
.jumbotron {
  border: 1px solid #000;
  padding: 25px;
}
.jumbotron_board {
  background-color: orange;
  border: 1px solid #000;
  padding: 25px;
  text-align: center;
}
.box {
  background-color: #00FF00;
  border: 1px solid #000;
  padding: 25px;
  text-align: center;
}
.pre-offset {
  background-color: green;
  border: 1px solid #000;
  padding: 25px;
}
.offset {
  background-color: #fff;
  border: 1px solid #000;
  padding: 25px;
}
.content {
  background-color: red;
  border: 1px solid #000;
  padding: 25px;
}
.aside {
  background-color: black;
  border: 1px solid #000;
  padding: 25px;
}
.aside_left {
  background-color: purple;
  border: 1px solid #000;
  padding: 25px;
}
.aside_right {
  background-color: purple;
  border: 1px solid #000;
  padding: 25px;
}
.promo {
  background-color: grey;
  border: 1px solid #000;
  padding: 25px;
}
.direction_back {
  background-color: #008080;
  border: 1px solid #000;
  padding: 25px;
}
.direction_up {
  background-color: #000080;
  border: 1px solid #000;
  padding: 25px;
}
.direction_down {
  background-color: #000080;
  border: 1px solid #000;
  padding: 25px;
}
.direction_forward {
  background-color: #008080;
  border: 1px solid #000;
  padding: 25px;
}
.top {
  background-color: #FFFF00;
  border: 1px solid #000;
  padding: 25px;
  text-align: center;
}
.bottom {
  background-color: #FFFF00;
  border: 1px solid #000;
  padding: 25px;
  text-align: center;
}
.main_color {
  background-color: #FF00FF;
  border: 1px solid #000;
  padding: 25px;
  text-align: center;
}
.left_color {
  background-color: blue;
  border: 1px solid #000;
  padding: 25px;
  text-align: center;
}
.right_color {
  background-color: red;
  border: 1px solid #000;
  padding: 25px;
  text-align: center;
}
.indent_color {
  background-color: yellow;
  border: 1px solid #000;
  padding: 25px;
  text-align: center;
}
.footer {
  background-color: orange;
  border: 1px solid #000;
  padding: 25px;
  text-align: center;
}
